.progress-container{
    background-color: #ffd900;
    border-radius: 25px;
    border: 2px solid darkorange;
    margin-left: 10px;
}

.progress-container p{
    text-align: center;
    padding: 5px;
    color: rgb(255, 60, 0);
}