/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  padding: 20px 0;
  background-color: #333;
}

.header .navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.header .navbar-nav .nav-link {
  color: #fff;
  margin-right: 10px;
}

section {
  padding: 10px 0;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.timeline {
  position: relative;
}

.timeline-item {
  position: relative;
  margin-bottom: 40px;
  padding-left: 30px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
}

.timeline-item h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.timeline-item .date {
  font-style: italic;
  color: #888;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

.btn-primary {
  background-color: #333;
  border-color: #333;
}

.footer {
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.about {
  background-color: #f8f8f8;
  padding: 30px 0;
  text-align: center;
}

.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  line-height: 1.5;
  color: #555555;
  max-width: 600px;
}

.contact {
  background-color: #f8f8f8;
  padding: 30px 0;
  text-align: center;
}

.contact h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.contact .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  margin-bottom: 10px;
  color: #555555;
}

.contact p {
  font-size: 18px;
  line-height: 1.5;
  color: #555555;
  max-width: 600px;
}

.contact a {
  color: #007bff;
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}

.education {
  padding: 30px 0;
  text-align: center;
}

.education h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.education-item {
  margin-bottom: 40px;
}

.education-item h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.education-item p {
  font-size: 16px;
  color: #555555;
}

.experience {
  background-color: #f8f8f8;
  padding: 30px 0;
  text-align: center;
}

.experience h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.experience-item {
  margin-bottom: 40px;
}

.experience-item h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.experience-item p {
  font-size: 16px;
  color: #555555;
}

.experience-item ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.experience-item li {
  margin-bottom: 15px;
}

.footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  text-align: center;
}

.footer p {
  font-size: 14px;
  color: #555555;
}

.social-icons {
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-evenly;
}

.social-icons a {
  color: white;
  text-decoration: none;
  margin: 10px;
}

.skills {
  padding: 30px 0;
  text-align: center;
}

.skills p {
  margin-bottom: 30px;
}

.skills h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.skills-list, .frameworks-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  width: 100%;
  margin-bottom: 40px;
}

.skills-item {
  width: 100%;
  flex: 25%
}

.skills-item p, .framework-item p {
  margin-top: 15px;
  padding: 0;
}

.active {
  opacity: 1 !important;
}

.status {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media (max-width: 500px) {
  p, h2, h3, li {
    padding-right: 20px;
    padding-left: 20px;
  }

  .skills-list, .frameworks-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    margin-bottom: 40px;
  }

  .header .navbar-brand {
    font-size: 19px;
    font-weight: bold;
    color: #fff;
  }
  
  h2 {
    font-size: 23px;
    margin-bottom: 20px;
  }
  
  .timeline-item h3 {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .about h2 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .about p {
    font-size: 15px;
    line-height: 1.5;
    color: #555555;
    max-width: 600px;
  }
  
  .contact h2 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .contact p {
    font-size: 15px;
    line-height: 1.5;
    color: #555555;
    max-width: 600px;
  }
  
  .education h2 {
    font-size: 27px;
    font-weight: 600;
  }
  
  .education-item h3 {
    font-size: 19px;
    font-weight: 600;
  }
  
  .education-item p {
    font-size: 14px;
    color: #555555;
    margin: 5px 5px 5px 5px;
  }
  
  .experience h2 {
    font-size: 27px;
    font-weight: 600;
  }
  
  .experience-item h3 {
    font-size: 19px;
    font-weight: 600;
  }
  
  .experience-item p {
    font-size: 11px;
    color: black;
  }
  
  .footer p {
    font-size: 9px;
    color: #555555;
  }
  
  .skills h2 {
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  li, p {
    font-size: 14px;
    color: #555555;
  }

  .skills-item, .framework-item {
    flex: 25%;
    margin: 10px;
  }
}

